.slider {
    /* layout */
    display: flex;

    /* position */
    position: fixed;
    top: 15px;
    right: 4.5vw;

    /* size */
    width: 90px;
}

.mobile_mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.mobile_slider {
    /* layout */
    display: flex;

    /* position */
    position: fixed;
    top: 8px;
    right: 48px;

    /* size */
    width: 32px;

    z-index: 3;
}

.slider_container {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* position */
    position: relative;
    overflow: hidden;

    /* size */
    width: 32px;
    max-height: 32px;
    z-index: 3;
    background: rgb(46, 97, 152);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE */
    user-select: none;
}

.slider:hover > .slider_container_hoverable {
    max-height: 332px;
}

.slider:hover > .slider_toggle_button {
    transform: rotate( 180deg );
}

.slider_container_hoverable {
    max-height: 32px;
    transition: max-height 400ms ease-out;

    -webkit-border-radius: 16px 16px 16px 16px;
    -moz-border-radius: 16px 16px 16px 16px;
    border-radius: 16px 16px 16px 16px;
}

.slider_item {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    /* size */
    width: 100%;
    height: 32px;
    flex-shrink: 0;

    cursor: pointer;
}

.slider_button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* position */
    position: absolute;

    /* size */
    width: 16px;
    height: 16px;

    /* style */
    /*border-radius: 100%;*/
    /*background-color: #cccc;*/
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE */
    user-select: none;
}

.slider_prev_button {

}
.slider_next_button {

}

.slider_toggle_button {
    color: rgb(46, 97, 152);
    top: 9px;
    left: 32px;

    transition: all 500ms ease-out;
}

.slider_pagination {
    /* layout */
    gap: 5px;

    /* position */
    position: absolute;
    bottom: 0px;
}
.slider_pagination > li {
    color: #7fb5ff88;
    cursor: pointer;
    font-size: 25px;
}
.slider_pagination > li.active {
    color: #7fb5ff;
}

@media screen and (max-width: 1222px) {
    .slider_container {
        /* layout */
        display: flex;
        align-items: center;
        justify-content: center;

        /* position */
        position: relative;
        overflow: hidden;

        /* size */
        width: 32px;
        max-height: 32px;

        background: rgb(46, 97, 152);

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE */
        user-select: none;
    }

    .slider_container_hoverable {
        max-height: 32px;
        transition: max-height 500ms ease-out;

        -webkit-border-radius: 16px 16px 16px 16px;
        -moz-border-radius: 16px 16px 16px 16px;
        border-radius: 16px 16px 16px 16px;
    }

    .slider_item {
        /* layout */
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        /* size */
        width: 100%;
        height: 32px;
        flex-shrink: 0;
    }

    .slider_button {
        /* layout */
        display: flex;
        justify-content: center;
        align-items: center;

        /* position */
        position: absolute;

        /* size */
        width: 16px;
        height: 16px;

        /* style */
        /*border-radius: 100%;*/
        /*background-color: #cccc;*/
        cursor: pointer;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE */
        user-select: none;
    }

    .slider_toggle_button {
        color: rgb(46, 97, 152);
        top: 9px;
        left: 32px;

        transition: all 500ms ease-out;
    }
}

/* PC */
@media (hover:hover) and (pointer: fine) {
    .mobile_slider:hover > .slider_container_hoverable {
        max-height: 336px;
    }

    .mobile_slider:hover > .slider_toggle_button {
        transform: rotate( 180deg );
    }

    .slider_item:hover {
        background: rgb(105, 163, 224);
    }
}

/* Mobile */
/* (hover:none) and  */
@media (pointer:coarse) {
    .slider_container_hoverable.active {
        max-height: 336px;
    }

    .slider_container_hoverable.active > .slider_item {
        padding: 5px 0px;
    }

    .slider_container_hoverable.active ~ .slider_toggle_button {
        transform: rotate( 180deg );
    }
}

@media all and (max-width: 849px) {
    .mobile_slider {
        //right: 90px;
    }
}

@media all and (max-width: 767px) {
    .mobile_slider {
        right: 32px;
    }
}