figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  //margin-inline-start: 40px;
  //margin-inline-end: 40px;
}

.bookmark {
  text-decoration: none;
  max-height: 8em;
  padding: 0;
  display: flex;
  width: 100%;
  align-items: stretch;
}

.bookmark-title {
  font-size: 0.85em;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.75em;
  white-space: nowrap;
}

.bookmark-text {
  display: flex;
  flex-direction: column;
}

.bookmark-info {
  flex: 4 1 180px;
  padding: 12px 14px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookmark-image {
  width: 33%;
  flex: 1 1 180px;
  display: block;
  position: relative;
  object-fit: cover;
  border-radius: 1px;
}

.bookmark-description {
  color: rgba(55, 53, 47, 0.6);
  font-size: 0.75em;
  overflow: hidden;
  max-height: 4.5em;
  word-break: break-word;
}

.bookmark-href {
  font-size: 0.5em;
  margin-top: 0.25em;
}

.source {
  border: 1px solid #ddd;
  border-radius: 3px;
  //padding: 1.5em;
  word-break: break-all;
}

img.icon {
  border-radius: 3px;
  margin: 0 0;
}

.icon {
   display: inline-block;
   max-width: 1.2em;
   max-height: 1.2em;
   text-decoration: none;
   vertical-align: text-bottom;
   margin-right: 0.5em;
}

.post-content {
  font-size: 1.03rem;
  margin-top: 3.5rem;
}

.container {
  padding-left: 1.5rem;
}


#sidebar {
  ul, li {
    padding: 0;
    margin: 0;
  }

  .sidebar-background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url("/assets/img/background/sidebar-bg-2.png");
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
  }

  .slider-transbox {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(2,88,188,0.556863), rgba(0,88,183,0.176471));
    opacity: 0.9;
  }/* .slider-transbox */

  #post-toc-wrapper {
    padding-left: 1rem;
    padding-bottom: 80px;
    min-height: calc(100vh - 370px);
  }

  .post-toc-group {
    margin-top: 2rem;
  }

  .saseul-visit-banner {
    width: $sidebar-width-large;
    height: 80px;
    background: url("/assets/img/banner/saseul-visit-banner.png") center center no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .site-title a {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.99);
  }

  .post-page-item {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: apparat-semicond, sans-serif;
    padding-left: 18px;
    margin-bottom: 16px;
    cursor: pointer;
    opacity: 0.76;
  }

  .post-page-subitem {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: apparat-semicond, sans-serif;
    font-weight: 400;
    border-left: 1px solid rgba(223, 223, 223, 0.3);
    padding-top: 0.5rem;
    padding-left: 15px;
    margin-left: 1.625rem;
    height: 2.5rem;
    cursor: pointer;
  }
}

.post {
  font-family: articulat-cf, sans-serif;
  padding-top: 3rem;

  h1 {
    font-size: 1.9rem;
    font-weight: 600;
    padding-top: 0;
    margin-top: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.15rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h2, h3, h4, h5 {
    padding-top: 0;
    margin-top: 2.5rem;
  }
}