<div id="post-toc-wrapper">
    {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
        <div class="post-toc-group">
            <div class="post-page-item" onclick="location.href='{{ _category_url | relative_url }}'">
                {{ category_name }}
            </div>

            {% assign sort_categories = site.categories[category_name] | sort %}

            {% for post in sort_categories %}
            <div class="post-page-subitem" onclick="location.href='{{ post.url | relative_url }}'">
                {{post.short_title}}
            </div>

            {% endfor %}
        </div>
    {% endfor %}
</div>

<div class="saseul-visit-banner" onclick="location.href='{{ site.custom.saseul_link }}'"></div>