<!--
  The Side Bar
-->

<div id="sidebar" class="d-flex flex-column align-items-end">
  <div id="sidebar-trigger-mobile">
    <i class="fas fa-times fa-fw"></i>
  </div>

  <div class="profile-wrapper text-center">
    <div id="avatar">
      <a href="{{ '/' | relative_url }}" class="mx-auto">
        {% if site.avatar != empty and site.avatar %}
          {% capture avatar_url %}
            {% if site.avatar contains '://' %}
              {{ site.avatar }}
            {% elsif site.img_cdn != empty and site.img_cdn %}
              {{ site.avatar | prepend: site.img_cdn }}
            {% else %}
              {{ site.avatar | relative_url }}
            {% endif %}
          {% endcapture %}
          <img src="{{ avatar_url | strip }}" alt="avatar" onerror="this.style.display='none'">
        {% endif %}
      </a>
    </div>

    <div class="site-title">
      <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    </div>
    <div class="site-subtitle font-italic">{{ site.tagline }}</div>

  </div><!-- .profile-wrapper -->


  <ul class="post-toc-container w-100">
    <div id="post-toc-wrapper">
      {% for category in site.categories %}

        {% capture category_name %}{{ category | first }}{% endcapture %}
        {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}

        {% assign posts_of_category = category | last %}
        {% assign first_post = posts_of_category | first %}

        {% if category_name == first_post.categories[0] %}
          <div class="post-toc-group">
            <div class="post-page-item" onclick="location.href='{{ _category_url | relative_url }}'">
              {{ category_name }}
            </div>

            {% assign sort_categories = posts_of_category | sort %}

            {% for post in sort_categories %}
            <div class="post-page-subitem{% if post.url == page.url %}{{ " active" }}{% endif %}" onclick="location.href='{{ post.url | relative_url }}'">
            {{ post.short_title }}
            </div>
            {% endfor %}
          </div>
        {% endif %}

      {% endfor %}
    </div>
  </ul> <!-- ul.nav.flex-column -->

  <div class="sidebar-bottom mt-auto d-flex flex-wrap justify-content-center align-items-center hide">

    {% unless site.theme_mode %}
      <button class="mode-toggle btn" aria-label="Switch Mode">
        <i class="fas fa-adjust"></i>
      </button>

      {% if site.data.contact.size > 0 %}
        <span class="icon-border"></span>
      {% endif %}
    {% endunless %}

    {% for entry in site.data.contact %}
      {% capture url %}
        {%- if entry.type == 'github' -%}
          https://github.com/{{ site.github.username }}
        {%- elsif entry.type == 'twitter' -%}
          https://twitter.com/{{ site.twitter.username }}
        {%- elsif entry.type == 'email' -%}
          {% assign email = site.social.email | split: '@' %}
          javascript:location.href = 'mailto:' + ['{{ email[0] }}','{{ email[1] }}'].join('@')
        {%- elsif entry.type == 'rss' -%}
          {{ "/feed.xml" | relative_url }}
        {%- else -%}
          {{ entry.url }}
        {%- endif -%}
      {% endcapture %}

      {% if url %}
      <a href="{{ url }}" aria-label="{{ entry.type }}"
        {% assign link_types = nil %}
        {% unless entry.noblank %}
          {% assign link_types = link_types | append: " noopener" %}
          target="_blank"
        {% endunless %}

        {% if entry.type == 'mastodon' %}
          {% assign link_types = link_types | append: " me" %}
        {% endif %}

        {% if link_types %}rel="{{ link_types | lstrip }}"{% endif %}>
        <i class="{{ entry.icon }}"></i>
      </a>
      {% endif %}

    {% endfor %}

  </div> <!-- .sidebar-bottom -->

</div><!-- #sidebar -->
