---
layout: page
# The Home page layout
---

{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}

{% assign posts = "" | split: "" %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

<div id="upper-post">
  <div id="upper-title">
    <div class="upper-title-image">
      <img src="/assets/custom/saseul-characters.png" alt="home-images">
    </div>
    <div class="upper-title-text">
      <span>SASEUL Developer Guide</span>
    </div>
  </div>

  <div id="upper-menu">
    <div id="upper-algorithms" class="upper-menu-item" onclick="window.open('https://saseul.com');">
      <div class="upper-menu-image">
        <img src="/assets/custom/icon-algorithms.png">
      </div>
      <div class="upper-menu-text">
        <span>SASEUL Website</span>
      </div>
    </div>

    <div id="upper-installation" class="upper-menu-item" onclick="window.open('https://hub.docker.com/r/artifriends/saseul-network');">
      <div class="upper-menu-image">
        <img src="/assets/custom/icon-installation.png">
      </div>
      <div class="upper-menu-text">
        <span>Node Installation</span>
      </div>
    </div>

    <div id="upper-explorer" class="upper-menu-item" onclick="window.open('https://explorer.saseul.com');">
      <div class="upper-menu-image">
        <img src="/assets/custom/icon-explorer.png">
      </div>
      <div class="upper-menu-text">
        <span>Block Explorer</span>
      </div>
    </div>

    <div id="upper-wallet" class="upper-menu-item" onclick="window.open('https://applink.guardee.io/');">
      <div class="upper-menu-image">
        <img src="/assets/custom/icon-wallet.png">
      </div>
      <div class="upper-menu-text">
        <span>Guardee Wallet</span>
      </div>
    </div>

  </div>
</div>

<hr>

<div id="post-list">

  <h1 class="post-title">Recent Posts</h1>

{% for post in posts %}

  <div class="post-preview">
    <h1>
      <a href="{{ post.url | relative_url }}">
        {% for category in post.categories %}
        {{ category }}
        {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %} /
        {{ post.title }}
      </a>
    </h1>

    <div class="post-content">
      <p>
        {% include no-linenos.html content=post.content %}
        {{ content | markdownify | strip_html | truncate: 200 | escape }}
      </p>
    </div>

    <div class="post-meta text-muted d-flex">
      <div class="mr-auto">

        <!-- posted date -->
        <i class="far fa-calendar fa-fw"></i>
        {% include datetime.html date=post.date %}

        <!-- categories -->
        {% if post.categories.size > 0 %}
          <i class="far fa-folder-open fa-fw"></i>
          <span>
          {% for category in post.categories %}
            {{ category }}
            {%- unless forloop.last -%},{%- endunless -%}
          {% endfor %}
          </span>
        {% endif %}

      </div>

      {% if post.pin %}
      <div class="pin">
        <i class="fas fa-thumbtack fa-fw"></i>
        <span>{{ site.data.locales[site.lang].post.pin_prompt }}</span>
      </div>
      {% endif %}

    </div> <!-- .post-meta -->

  </div> <!-- .post-review -->

{% endfor %}

</div> <!-- #post-list -->

{% if paginator.total_pages > 0 %}
  {% include post-paginator.html %}
{% endif %}
